<div id="budget-container" class="oj-flex-column">
  <div class="oj-flex-item">
    <div class="oj-flex-bar">
      <div class="oj-flex-bar-start">
        <h2 class="budget">Budget Tracking</h2>
      </div>
      <div class="oj-flex-bar-end">
        <h5 style="color:#9F9F9F;font-size: small">View Options</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
  <hr/>
  <div class="oj-flex-item">
    <div class="oj-flex">
      <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3" style="border-right:1px solid grey;width:10%">
        <div class="oj-flex-column oj-flex-items-pad">
          <div class="oj-flex-item oj-padding">
            <div style="display:none" id="popup2" data-bind="ojComponent:{component: 'ojPopup',modality: 'modal', rootAttributes: { style: 'width: 40vw; height: 45vh; border-radius:10px; background-color:#ffffff'}}">
              <span>Add an Account</span>
            </div>
            <i class="fa fa-plus-circle oj-padding" aria-hidden="true" style="color:#9B9B9B"></i> 
            <a href="#" id="btnfinancial" data-bind="click:addbudget">Add an Account</a>                            
          </div>
          <div class="oj-flex-item oj-padding">
            <h5 class="oj-header-border">Bank</h5>
            <ul id="bankaccount-listview" aria-label="list using collection"
              data-bind="ojComponent: {
              component: 'ojListView', 
              data: bankaccounts, 
              item: {template: 'bankaccount_template'}, 
              selectionMode: 'single', 
              scrollPolicy: 'loadMoreOnScroll', 
              scrollPolicyOptions: {fetchSize: 2}, 
              rootAttributes: {style: 'height:120px;overflow-x:hidden;border-style:none'}}">
            </ul>

            <h5 class="oj-header-border">Credit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:small">Limit/Used</span></h5>
            <ul id="creditcard-listview" aria-label="list using collection"
              data-bind="ojComponent: {
              component: 'ojListView', 
              data: creditcard, 
              item: {template: 'creditcard_template'}, 
              selectionMode: 'single', 
              scrollPolicy: 'loadMoreOnScroll', 
              scrollPolicyOptions: {fetchSize: 2}, 
              rootAttributes: {style: 'height:120px;overflow-x:hidden;border-style:none'}}">
            </ul>
          </div>
          <div class="oj-flex-item">
            <button class="btnbanking1" data-bind="ojComponent: { component: 'ojButton',label: 'Banking'}"></button>
          </div>
        </div>
      </div>
      <div class="oj-flex-item oj-padding">
        <div class="oj-flex-column oj-flex-items-pad">
          <div class="oj-flex-item">
            <div class="oj-flex-column oj-flex-items-pad">
              <div class="oj-flex-item">
                <h3>Overview</h3>
              </div>
              <div class="oj-flex-item">
                <div class="oj-flex">
                  <div class="oj-flex-item">
                    <span style="color:#3B7266">Cash Flow</span>
                    <div id="gauge1" data-bind="ojComponent: {
                        component: 'ojDialGauge',
                        min: -100, 
                        max: 100,
                        value: 10,
                        readOnly: true,
                        animationOnDisplay: 'auto',
                        indicator: 'needleAlta',
                        background: 'circleAlta',
                        indicator :'needleAntique',
                        metricLabel: {rendered: 'on', style: 'font-size: 12px; font-weight: bold; font-family: Georgia, Times New Roman, serif'},
                        rootAttributes:{style:'height:80%;border-style: 1px solid black'},
                        tickLabel:{rendered:'on',style:'font-size:10px'}
                      }">
                    </div>
                  </div>
                  <div class="oj-flex-item">
                    <span style="color:#3B7266">Cash In</span>
                    <div id="gauge2" data-bind="ojComponent: {
                        component: 'ojDialGauge',
                        min: -100, 
                        max: 100,
                        value: -50,
                        readOnly: true,
                        animationOnDisplay: 'auto',
                        indicator: 'needleAlta',
                        background: 'circleAlta',indicator :'needleAntique',
                        metricLabel: {rendered: 'on', style: 'font-size: 12px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'},
                        rootAttributes:{style:'height:80%;border-style: 1px solid black'},
                        tickLabel:{rendered:'on',style:'font-size:10px'}
                      }">
                    </div>
                  </div>
                  <div class="oj-flex-item">
                    <span style="color:#3B7266">Cash Out</span>
                    <div id="gauge3" data-bind="ojComponent: {
                        component: 'ojDialGauge',
                        min: -100, 
                        max: 100,
                        value: 95,
                        readOnly: true,
                        animationOnDisplay: 'auto',
                        indicator: 'needleAlta',
                        background: 'circleAlta',indicator :'needleAntique',
                        metricLabel: {rendered: 'on', style: 'font-size: 12px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'},
                        rootAttributes:{style:'height:80%;border-style: 1px solid black'},
                        tickLabel:{rendered:'on',style:'font-size:10px'}
                      }">
                    </div>
                  </div>
                  <div class="oj-flex-item">
                    <span style="color:#3B7266">Save/Investment</span>
                    <div id="gauge4" data-bind="ojComponent: {
                        component: 'ojDialGauge',
                        min: -100, 
                        max: 100,
                        value: 55,
                        readOnly: true,
                        animationOnDisplay: 'auto',
                        indicator: 'needleAlta',
                        background: 'circleAlta',indicator :'needleAntique',
                        metricLabel: {rendered: 'on', style: 'font-size: 12px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'},
                        rootAttributes:{style:'height:80%;border-style: 1px solid black'},
                        tickLabel:{rendered:'on',style:'font-size:10px'}
                      }">
                    </div>
                  </div>
                  <div class="oj-flex-item">
                    <span style="color:#3B7266">Spending</span>
                    <div id="gauge5" data-bind="ojComponent: {
                        component: 'ojDialGauge',
                        min: -100, 
                        max: 100,
                        value: -10,
                        readOnly: true,
                        animationOnDisplay: 'auto',
                        indicator: 'needleAlta',
                        background: 'circleAlta',indicator :'needleAntique',
                        metricLabel: {rendered: 'on', style: 'font-size: 12px; font-weight: bold; font-family: Georgia, Times New Roman, serif;'},
                        rootAttributes:{style:'height:80%;border-style: 1px solid black'},
                        tickLabel:{rendered:'on',style:'font-size:10px'}
                      }">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="oj-flex-item">
            <div class="oj-flex-column oj-flex-items-pad">
              <div class="oj-flex-item">
                <div data-bind="ojComponent: {component: 'ojCollapsible'}">
                  <div class="oj-flex-bar-start">
                    <div data-bind="ojComponent: {
                        component: 'ojStatusMeterGauge',
                        min: 0, 
                        max: 100,
                        value: entertainmentPercent,
                        thresholds: [{color: '#32A0D4'}],
                        thresholdDisplay: 'onIndicator',
                        metricLabel:{position:'insideIndicatorEdge', rendered:'on',text:entertainmentAmount},
                        plotArea:{color:'#237398',rendered:'on'},
                        title:{position:'start',text:'Entertainment',style:'font-size:medium'},
                        rootAttributes:{style:'height:50px;width:100%'}
                      }">
                    </div>
                  </div>
                  <table id="budgettracking-table" 
                      data-bind="ojComponent: {
                        component: 'ojTable', 
                        data: budgettracking, 
                        columnsDefault: {sortable: 'none'}, 
                        columns: [
                        { headerText: 'Date', field: 'date',footerTemplate: 'entertainment_total_label'},
                        { headerText: 'Budget Item', field: 'name'},
                        { headerText: 'Description', field: 'description'},
                        { headerText: 'Description(Bank)', field: 'bank_description'},
                        { headerText: 'Tags', field: 'tags'},
                        { headerText: 'Amount', field: 'amount',footerTemplate: 'entertainment_total', className:'oj-helper-text-align-left'}],
                        rootAttributes: {style:'width:100%'},
                        rowTemplate: 'entertainment_row_tmpl',
                        selectionMode: {'row': 'multiple'},
                        dnd: {drop: {'rows': {dataTypes: ['application/ojtablerows+json'],
                        drop: handleDropRows}}}
                      }">
                  </table>
                </div>
              </div>
              <div class="oj-flex-item">
                <div data-bind="ojComponent: {component: 'ojCollapsible'}">
                  <div class="oj-flex-bar-start">
                    <div data-bind="ojComponent: {
                        component: 'ojStatusMeterGauge',
                        min: 0, 
                        max: 100,
                        value: groceriesPercent,
                        thresholds: [{color: '#59B59F'}],
                        thresholdDisplay: 'onIndicator',
                        metricLabel:{position:'outsideIndicatorEdge', rendered:'on',text:groceriesAmount,style:'font-size:small;color:#FFFFFF;text-align:center'},
                        plotArea:{color:'#387366',rendered:'on'},
                         title:{position:'start',text:'Groceries',style:'font-size:medium'},
                        rootAttributes:{style:'height:50px;width:100%'}
                      }">
                    </div>
                  </div>
                </div>
              </div>
              <div class="oj-flex-item">
                <div data-bind="ojComponent: {component: 'ojCollapsible'}">
                  <div class="oj-flex-bar-start">
                    <div data-bind="ojComponent: {
                        component: 'ojStatusMeterGauge',
                        min: 0, 
                        max: 100,
                        value: travelPercent,
                        thresholds: [{color: '#996CFB'}],
                        thresholdDisplay: 'onIndicator',
                        metricLabel:{position:'outsideIndicatorEdge', rendered:'on',text:travelAmount,style:'font-size:small;color:#FFFFFF;text-align:center'},
                        plotArea:{color:'#6D4DB7',rendered:'on'},
                        title:{position:'start',text:'Travel',style:'font-size:medium'},
                        rootAttributes:{style:'height:50px;width:100%'}
                      }">
                    </div>
                  </div>
                </div>
              </div>
              <div class="oj-flex-item">
                <div data-bind="ojComponent: {component: 'ojCollapsible'}">
                  <div class="oj-flex-bar-start">
                    <div data-bind="ojComponent: {
                        component: 'ojStatusMeterGauge',
                        min: 0, 
                        max: 100,
                        value: autoPercent,
                        thresholds: [{color: '#189ACA'}],
                        thresholdDisplay: 'onIndicator',
                        metricLabel:{position:'outsideIndicatorEdge', rendered:'on',text:autoAmount,style:'font-size:small;color:#FFFFFF;text-align:center'},
                        plotArea:{color:'#0D6A8A',rendered:'on'},
                        title:{position:'start',text:'Auto',style:'font-size:medium'},
                        rootAttributes:{style:'height:50px;width:100%'}
                      }">
                    </div>
                  </div>
                </div>
              </div>
              <div class="oj-flex-item">
                <div data-bind="ojComponent: {component: 'ojCollapsible'}">
                  <div class="oj-flex-bar-start">
                    <div data-bind="ojComponent: {
                        component: 'ojStatusMeterGauge',
                        min: 0, 
                        max: 100,
                        value: schoolPercent,
                        thresholds: [{color: '#FD996B'}],
                        thresholdDisplay: 'onIndicator',
                        metricLabel:{position:'outsideIndicatorEdge', rendered:'on',text:schoolAmount,style:'font-size:small;color:#FFFFFF;text-align:center'},
                        plotArea:{color:'#D27F59',rendered:'on'},
                        title:{position:'start',text:'School',style:'font-size:medium'},
                        rootAttributes:{style:'height:50px;width:100%'}
                      }">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="oj-flex-item">
            <div class="oj-flex-column">
              <div class="oj-flex-item">
                <div class="oj-flex-bar">
                  <div class="oj-flex-bar-start">
                    <h3>Budget Entries</h3>
                  </div>
                  <div class="oj-flex-bar-end">
                    <a id="btnBudgetEntry" data-bind="ojComponent: {
                        component: 'ojButton', 
                        display: 'icons',
                        icons: {start:'fa fa-plus-circle'}
                      },
                      click: function() {
                        $('#budgetentry').ojPopup('open', '#btnBudgetEntry');
                      }">
                    </a>
                  </div>
                </div>
              </div>
              <div class="oj-flex-item">
                <table id="budgetentires-table" summary="Budget Entries"
                  data-bind="ojComponent: {
                  component: 'ojTable', 
                  data: budgetentries, 
                  columnsDefault: {sortable: 'none'}, 
                  columns: [
                    { headerText: 'Date', field: 'date'},
                    { headerText: 'Budget Item', field: 'name'},
                    { headerText: 'Description', field: 'description'},
                    { headerText: 'Description(Bank)', field: 'bank_description'},
                    { headerText: 'Tags', field: 'tags'},
                    { headerText: 'Amount', field: 'amount'}],
                  rootAttributes: {style:'width:100%'},
                  rowTemplate: 'budgetentries_row_tmpl',
                  selectionMode: {'row': 'multiple'},
                  dnd: {drag: {'rows': {dataTypes: ['application/ojtablerows+json']}}}
                  }">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display:none;width:750px;height: 350px" id="budgetentry" data-bind="ojComponent:{component: 'ojPopup',position:{'collision':'flip'}}">
  <span>Add Budget Entry</span>
  <div class="oj-flex oj-padding">
    <select id="select" data-bind="ojComponent: {
      component: 'ojSelect',
      value: val,
      renderMode: isNative() ? 'native' : 'jet',
      rootAttributes: {style:'max-width:20em'}}">
      <option value="EN">Entertainment</option>
      <option value="SA">Sales</option>
      <option value="TR">Travle</option>
      <option value="IN">Income</option>
      <option value="SC">School</option>
    </select>
    <div class="oj-flex-item">
      <input id="text-input" type="text" placeholder='Description' data-bind="ojComponent: {component: 'ojInputText'}"/>
    </div>
  </div>
  <div class="oj-flex">
    <div class="oj-panel" style="width:350px;height:90px;">
      <h5>Tags</h5>
      <span class="oj-padding">
        <input id="dinner" type="checkbox">
        <label for="blueopt">Dinner</label>
      </span>
      <span class="oj-padding">
        <input id="tag2" type="checkbox">
        <label for="blueopt">Tag2</label>
      </span>
      <span class="oj-padding">
        <input id="tag3" type="checkbox">
        <label for="blueopt">Tag3</label>
      </span>
      <span class="oj-padding">
        <input id="tag4" type="checkbox">
        <label for="blueopt">Tag4</label>
      </span>
    </div>
  </div>
  <div class="oj-flex-item oj-padding">
    <input id="text-input" type="text" placeholder='Calendar Component' style="text-align:center;" data-bind="ojComponent: {component: 'ojInputText'}"/>
    <input id="text-input" type="text" placeholder='Description' data-bind="ojComponent: {component: 'ojInputText'}"/>
  </div>
  <div class="oj-flex-item oj-padding">
    <button id= "button" data-bind="ojComponent: { component: 'ojButton', label: 'Cancel' }">
    </button>
    <button id= "button" data-bind="ojComponent: { component: 'ojButton', label: 'Save' }">
    </button>
  </div>
</div>

<script type="text/html" id="bankaccount_template">
  <li>
    <div class="oj-flex-column oj-flex-items-pad" style="flex-wrap: nowrap">
      <div class="oj-flex-item">
        <span data-bind="text: name"></span>
      </div>
      <div class="oj-flex-item">
        <span data-bind="text: type"></span> - <span data-bind="text: accountnumber"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="word-wrap: break-word" data-bind="text: currencyFormatter(amount)"></span>
      </div>
    </div>
  </li>
</script>

<script type="text/html" id="creditcard_template">
  <li>
    <div class="oj-flex-column oj-flex-items-pad" style="flex-wrap: nowrap">
      <div class="oj-flex-item">
        <span data-bind="text: type"></span>
      </div>
      <div class="oj-flex-item">
        <span data-bind="text: accountnumber"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: currencyFormatter(  limit)"></span> / <span style="word-wrap: break-word" data-bind="text: currencyFormatter(used)"></span>
      </div>
    </div>
  </li>
</script>

<script type="text/html" id="entertainment_row_tmpl">
  <tr>
    <td data-bind="text: date"></td>
    <td data-bind="text: name"></td>
    <td data-bind="text: description"></td>
    <td data-bind="text: bank_description"></td>
    <td data-bind="text: tags"></td>
    <td data-bind="text: amount"></td>
  </tr>
</script>

<script type="text/html" id="budgetentries_row_tmpl">
  <tr>
    <td data-bind="text: date"></td>
    <td data-bind="text: name"></td>
    <td data-bind="text: description"></td>
    <td data-bind="text: bank_description"></td>
    <td data-bind="text: tags"></td>
    <td data-bind="text: amount"></td>
  </tr>
</script>

<script type="text/html" id="entertainment_total_label">
  <td style="font-weight:bold;">
    Total
  </td>
</script>

<script type="text/html" id="entertainment_total">
  <td id="table:entertainment_total" data-bind="text: entertainmentTotalFn($footerContext)" class="oj-helper-text-align-left">
  </td>
</script>


