<div id="decision-container">	
  <div class="oj-flex-column oj-flex-items-pad oj-padding">
    <div class="oj-flex-item">
      <div class="oj-flex-bar">
        <div class="oj-flex-bar-start">
          <div><h2 class="decisionheader">Decisions</h2></div>
        </div>
        <div class="oj-flex-bar-end">
          <div>
            <button class="oj-button-primary oj-button-xl btnstyle">Get Advice</button>
            <button class="oj-button-primary oj-button-xl btnstyle oj-padding">Conversions</button>
          </div>
        </div>
      </div>
      <hr style="border:2px dashed grey; border-left-style: none;border-right-style: none; border-bottom-style: none; margin-top: 20px;"/>
    </div>
    <div class="oj-flex-item decisionpanel">
      <div class="oj-flex-column" style="flex-wrap: nowrap">                                          
        <div class="oj-flex-item oj-padding">
          <label>Decision Title:</label>                         
          <span data-bind="text: title" style="color:#999999"></span> 
        </div>  
        <div class="oj-flex-item oj-padding">
          <label>Decision Description:</label>    
          <span data-bind="text: description" style="color:#999999"></span>                    
        </div>
        <div class="oj-flex-item oj-padding">
          <label>Decision due by:</label>
          <span class="" data-bind="text: duedate" style="color:red;font-weight: bold"></span>                   
        </div>
      </div>
    </div>
    <div class="oj-flex-item">
      <div class="oj-flex-column oj-flex-items-pad oj-padding">
        <div class="oj-flex-item">
          <h3 class="oj-header-border">Alternatives</h3>
        </div>
        <div class="oj-flex-items">
          <div class="oj-flex oj-flex-items-pad">
            <div class="oj-flex-item oj-sm-flex-initial" data-bind="ojComponent:{
                          component:'ojNavigationList',
                          drillMode: 'none',
                          selection: selectedAlternatives,
                          data : alternatives,
                          item: { template: 'alternatives_template' },
                          rootAttributes: { style: 'color:none'}
                          }">
            </div>
            <script type="text/html" id="alternatives_template">
              <li data-bind="attr: {id: id}, style: { color : color }">
                <span data-bind="text: name, click: loadDesireImpact(id, event)"></span>
                  <div class="oj-flex" style="padding:10px">
                    <i data-bind="css:icon" aria-hidden="true"></i>
                  </div>
                  <div class="oj-flex" style="padding:10px">
                    <span data-bind="text: formatRoundoffToOnedecimal(point)"></span>
                  </div>
              </li>
            </script>
            <div class="oj-flex-item">
              <div class="oj-flex-column oj-flex-items-pad">
                <div class="oj-flex-item">
                  <h3 class="oj-header">Desire Impact</h3>
                  <hr style="border:2px dashed grey; border-left-style: none;border-right-style: none; border-bottom-style: none; margin-top: 20px;"/>
                </div>                
                <div class="oj-flex-item">
                  <div data-bind="ifnot: selectedAlternatives" >
                    <h3>Please select an Alternative</h3>
                  </div>
                  <div class="oj-flex-column oj-flex-items-pad" data-bind="if: selectedAlternatives" >
                    <div class="oj-flex-item">
                      <span data-bind="text: subscription._latestValue.name" style="color:#2AAD9F"></span>
                      <i data-bind="css: subscription._latestValue.icon" aria-hidden="true" style="color:#2AAD9F"></i>
                      <label data-bind="text: formatRoundoffToOnedecimal(subscription._latestValue.point)" style="color:#2AAD9F"></label>
                    </div>
                    <div class="oj-flex-item">
                      <div class="oj-flex-bar">
                        <div class="oj-flex-bar-start">
                          <span>Cashflow Impact:</span>
                          <span data-bind="text: subscription._latestValue.cashflowstatus" style="color:#2AAD9F"></span>
                        </div>
                        <div class="oj-flex-bar-middle">
                          <span>Portfolio Impact: </span>
                          <span data-bind="text: subscription._latestValue.profoliostatus" style="color:#2AAD9F"></span>
                        </div>
                        <div class="oj-flex-bar-end">
                          <button class="oj-button-primary oj-button-xl btnalternative">Select this Alternative</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="border:2px dashed grey; border-left-style: none;border-right-style: none; border-bottom-style: none; margin-top: 20px;"/>
                </div>

                <div class="oj-flex-item" data-bind="if: selectedAlternatives">
                    <div class="oj-panel">
                     <h4>Impact Chart</h4>
                     <hr style="border:2px dashed grey; border-left-style: none;border-right-style: none; border-bottom-style: none; margin-top: 20px;">
                      <div class="oj-flex-column oj-flex-items-pad">
                        <div class="oj-flex-item">
                          <table id="table" summary="Task List" aria-label="Task List"
                              data-bind="ojComponent: {component: 'ojTable',
                                data: desires,
                                ready: monitorAxisWidth,
                                columns: [
                                  {renderer: displayDesiresChartlabel, style:'width:40%'},
                                  {headerTemplate: 'timeaxisTmpl', template: 'taskbarTmpl'}],
                                  selectionMode: {row: 'single', column: 'single'},
                                  columnsDefault: {sortable: 'none'}, 
                                  optionChange:displayDetails
                                  }">
                          </table>
                        </div>
                        <div class="oj-flex-item">
                          <div data-bind="if: imactDetails">
                            <h4>Details</h4>
                            <div class="oj-panel">
                                <label>Description:</label>
                                 <input id="description" data-bind="ojComponent: {component: 'ojInputText', value: impactDetailDesc}"/> 
                                <div class="oj-flex-item oj-padding">
                                  <label>Magnitude:</label>
                                  <input id="magnitude" data-bind="ojComponent: {component: 'ojInputText', value: impactDetailMagnitude}"/> 
                                </div>
                                <div class="oj-flex-item oj-padding">
                                  <label>Priority:</label><span data-bind="text:impactDetailPriority"></span>
                                </div>
                                <div class="oj-flex-item oj-padding">
                                  <label>Expense Type:</label><span data-bind="text:impactDetailExpenseType"></span>
                                </div>
                                <div class="oj-flex-item oj-padding">
                                  <label>Expense Date & Values:</label><span data-bind="text:impactDetailExpenseValue"></span>
                                </div>
                                <div class="oj-flex-item oj-padding">
                                  <label>Status:</label><span data-bind="text:impactDetailStatus"></span>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="oj-flex-item oj-padding" data-bind="if: selectedAlternatives">
                  <div id="tabs" data-bind="ojComponent:{component: 'ojTabs', rootAttributes: {style:'oj-padding'}}">
                    <!-- tab bar -->
                    <ul>
                      <!-- ko foreach: subscription._latestValue.tabs -->
                        <li data-bind="attr: {id: id}" style="border:1px solid grey;border-top-right-radius:10px;border-top-left-radius:10px;width:100px; text-align:center">
                          <span data-bind="text: label" style="color:#000000"></span>
                        </li>
                      <!-- /ko -->
                    </ul>
                    <!-- tab contents -->
                    <!-- ko foreach: subscription._latestValue.tabs -->
                      <div data-bind="attr: {id: id +'-content'}" style="border: 1px solid grey;">
                        <div data-bind="ojModule: {name: 'decision-tabs/'+id +'-content', params: $data }">
                        </div>
                      </div>
                     <!-- /ko -->
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- template for column header -->
<script type="text/html" id="timeaxisTmpl">
  <th id="timeAxis" class="timeaxis-container">
    <div data-bind="ojComponent: {component: 'ojTimeAxis',
            scale: 'years', 
            start: projectStartDate, 
            end: projectEndDate}" 
            style="height:38px" aria-hidden="true">
    </div>
  </th>
</script>

<!-- template for the chart bar column -->
<script type="text/html" id="taskbarTmpl">
  <td class="demo-chart-row-container">
    <div class="demo-chart-task" role="group"
          data-bind="style: { left: isRTL ? 0 : getPosition($data.start) + 'px', 
          right: isRTL ? getPosition($data.start) + 'px' : 0}">
      <div class="demo-task-item demo-task-bar" role="img"
            data-bind="style: { width: getLength($data.start, $data.end) + 'px' },
            attr: { 'aria-label': getAriaLabel($data) }">
      </div>
      <div class="demo-task-item demo-progress-bar" role="img"
              data-bind="style: { 'background-color': $data.color, width: getLength($data.start, $data.progress) + 'px' }">
      </div>
      <div class="demo-task-item demo-task-label" 
          data-bind="style: { left: isRTL ? 0 : getLength($data.start, $data.end) + 'px' ,
          right: isRTL ? getLength($data.start, $data.end) + 'px' : 0 }">
      </div>
    </div>
  </td>
</script>

