<div class="desire-container oj-flex oj-flex-items-pad">
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-3 oj-xl-3" style="border-right:1px dotted #D8D8D8;">
        <div class="oj-flex-column oj-flex-items-pad">
            <div class="oj-flex-item oj-header-border">
                <div class="oj-flex-bar">
                    <div class="oj-flex-bar-middle oj-sm-justify-content-center">
                        <span class="desire-label">Desires</span>
                    </div>
                    <div class="oj-flex-bar-end">
                        <i class="fa fa-plus-circle" aria-hidden="true" style="color:#9B9B9B"></i>&nbsp;&nbsp;
                        <i class="fa fa-chevron-down" aria-hidden="true" style="color:#565656"></i>
                    </div>
                </div>
            </div>
            <div data-bind="template: {name:'impact_desires_template', data: impactdesires}"></div>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-2 oj-xl-2" style="border-right:1px dotted #D8D8D8;">
        <div class="oj-flex-column oj-flex-items-pad">
            <div class="oj-flex-item oj-header-border">
                <div class="oj-flex-bar">
                    <div class="oj-flex-bar-middle oj-sm-justify-content-center">
                        <span class="wishes-label">Wishes</span>
                    </div>
                    <div class="oj-flex-bar-end">
                        <i class="fa fa-plus-circle" aria-hidden="true" style="color:#9B9B9B"></i>&nbsp;&nbsp;
                        <i class="fa fa-chevron-down" aria-hidden="true" style="color:#565656"></i>
                    </div>
                </div>
            </div>
            <div data-bind="template: {name:'wishlist_template', data: wishlist}"></div>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-7 oj-xl-7" style="border-right:1px dotted #D8D8D8;">
         <div class="oj-flex-column oj-flex-items-pad">
            <div class="oj-flex-item oj-header-border">
                <span>Timeline</span>
            </div>
            <div class="oj-flex-item">
                <div id="eventDrops" data-bind="ojComponent: {
                        component: 'ojChart', 
                        type: 'line',
                        series: planviews,
                        selectionMode: 'single',
                        timeAxisType: 'mixedFrequency',
                        legend: {rendered: 'off'},
                        yAxis: {step:1, majorTick: {rendered: 'off'}, tickLabel: {converter: GetPlanViewName,style:'color: probabilityColor($data)'}},
                        xAxis:{ majorTick:{baselineStyle:'dashed', lineColor:'grey', lineStyle:'dashed', rendered:'on'}},
                        styleDefaults: {lineType: 'none', dataItemGaps: '0%', markerShape: 'circle'},
                        valueFormats: [{type: 'series', tooltipLabel: 'Event'}, {type: 'value', tooltipDisplay: 'off'}]
                    }"
                    style="width:100%;height: 800px">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="impact_desires_template">
    <!-- ko foreach: impactdesires -->
    <div class="oj-flex-item oj-padding" data-bind="click:desireListDetailsfn.bind($data)">
        <div class="oj-panel desire-panel">
            <div class="oj-flex-column">
                <div class="oj-flex-item">
                    <span data-bind="attr:{'id': 'desiredetails_'+id},text: $data.title, style: {color:probabilityColor($data.probability)}"></span>
                </div>
                <div class="oj-flex-item">
                    <div class="oj-flex-bar">
                        <div class="oj-flex-bar-middle">
                            <span data-bind="text:formatToMedium($data.target_date), style: {color:probabilityColor($data.probability)}"></span>
                        </div>
                        <div class="oj-flex-bar-end">
                            <span data-bind="text:currencyformater($data.target_value), style: {color:probabilityColor($data.probability)}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="wishlist_template">
    <!-- ko foreach: wishlist -->
    <div class="oj-flex-item oj-padding oj-sm-justify-content-center">
        <div class="oj-panel wish-panel">
            <div class="oj-flex-column">
                <div class="oj-flex-item">
                    <div data-bind="text:$data.title" style="text-align:center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>

<div style="display:none" id="desirepopup" data-bind="ojComponent:{
        component: 'ojPopup',
        rootAttributes:{style:'width:500px'},
        position:{my:'start top'}
    }">
    <div class="oj-flex-column">
        <div class="oj-flex-item" style="text-align: center">
            <span  data-bind="text: selectedDesireTitle, style:{'color':selectedDesireColor}"></span>
             <hr/>
        </div>
        <div class="oj-flex-item" style="height: 100px">
            <span>Details</span>
        </div>
        <div class="oj-flex-item" style="height: 100px">
            <hr/>
            <span>Knowledge</span>
        </div>
        <div class="oj-flex-item">
            <button id= "selected-desire-cancel" class="btngetadvice" data-bind="ojComponent: { component: 'ojButton', label: 'cancel' }"></button>
            <button id= "selected-desire-save" class="btnconversations oj-padding" data-bind="ojComponent: { component: 'ojButton', label: 'save'}"></button>
        </div>
    </div>
</div>
