<div id="financialplanview-container" class="oj-flex-column">
    <div class="oj-flex-item">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <span class="financialplan">Financial Plan View</span>
            </div>
             <div class="oj-flex-bar-end">
                <button id= "buttonadvice" class="btngetadvice" data-bind="click: buttonClick, ojComponent: { component: 'ojButton', label: 'Get Advice' }"></button>
                <button id= "buttonconversation" class="btnconversations oj-padding" data-bind="click: buttonClick, ojComponent: { component: 'ojButton', label: 'Conversations'}"></button>
            </div>
        </div>
    </div>
    <div class="oj-flex-item">
        <div class="oj-flex">
            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3" style="border-right:1px solid grey;">
                <div class="oj-flex-column oj-flex-items-pad">
                    <div class="oj-flex-item oj-padding">
                        <button id= "desirebtn" class="btnfinancialplan" data-bind="click: buttonClick, ojComponent: { component: 'ojButton', label: 'Desires' }"></button>
                        <button id= "wishesbtn" class="btnfinancialplan" data-bind="click: buttonClick, ojComponent: { component: 'ojButton', label: 'Wishes' }"></button>
                        <button id= "actionsbtn" class="btnfinancialplan" data-bind="click: buttonClick, ojComponent: { component: 'ojButton', label: 'Actions' }"></button>
                    </div>
                     <div class="oj-flex-item oj-padding">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <!--<span><i class="fa fa-plus-circle" aria-hidden="true"></i>Add a Desire</span>-->
                                <div style="display:none" id="popup2"
                                    data-bind="ojComponent:{component: 'ojPopup',modality: 'modal', rootAttributes: { style: 'width: 40vw; height: 45vh; border-radius:10px; background-color:#ffffff'}}">
                                    <span>Add a Desire</span>
                                </div>
                                <i class="fa fa-plus-circle oj-padding" aria-hidden="true" style="color:#9B9B9B"></i> 
                                <a href="#" id="btnfinancial" data-bind="click:addDesire">Add a Desire</a>                            
                            </div>
                            <div class="oj-flex-item oj-padding">
                                <select id="select" data-bind="ojComponent: {component: 'ojSelect',placeholder:'View Options',optionChange: launchImpactDesires}">
                                  <!-- ko foreach: desireViewList -->
                                    <option data-bind="value:value, text:label"></option>
                                  <!-- /ko -->
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="oj-flex-item oj-padding">
                        <div data-bind="visible: displaydesireslist,template: {name: 'desires_list_template', data: impactdesires}"></div>
                        <div data-bind="visible: displaywishlist,template: {name: 'wish_list_template', data: wishlist}"></div>
                    </div>
                </div>
            </div>
            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9 oj-xl-9 oj-padding">
                <div class="oj-flex-column oj-flex-items-pad">
                    <div class="oj-flex-item">
                        <div class="oj-flex">
                            <div class="oj-flex-item oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3">
                                <div class="oj-panel financialplanpanel">
                                    <div class="oj-flex-column" style="text-align: center;">
                                        <div class="oj-flex-item oj-padding">
                                            <span class="score-label">Score: <span class="score-value">+B</span> </span>
                                        </div>
                                        <div class="oj-flex-item oj-padding">
                                            <span class="score-initiated">Desired Initiated</span><br>
                                             <strong>5</strong>
                                        </div>
                                        <div class="oj-flex-item">
                                            <span class="score-decisionmade">Decision Made</span><br>
                                            <strong>1</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oj-flex-item oj-sm-12 oj-md-8 oj-lg-9 oj-xl-9">
                                <div id="lineChart" data-bind="ojComponent: {
                                    component: 'ojChart',
                                    type: 'line',
                                    series: seriesValues,
                                    groups: groupValues,
                                    animationOnDisplay: 'auto',
                                    animationOnDataChange: 'auto',
                                    orientation: 'vertical',
                                    hoverBehavior: 'dim',
                                    legend: {position: 'top'},
                                    hideAndShowBehavior:'withRescale',
                                    dataCursor: 'on', dataCursorBehavior: 'snap', dataCursorPosition: dataCursorPositionValue,
                                    xAxis:{ majorTick:{baselineStyle:'dashed', lineColor:'grey', lineStyle:'dashed', rendered:'on'}},
                                    yAxis: {tickLabel: {converter: ko.toJS(yAxisConverter)}}
                                    }" style="width:100%;height:250px;float:left;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oj-flex-item">
                        <div class="oj-flex-column oj-flex-items-pad">
                            <div class="oj-flex-item oj-header-border">
                                <span>Plan View</span>
                            </div>
                            <div class="oj-flex-item">
                                <div id="eventDrops" data-bind="ojComponent: {
                                    component: 'ojChart', 
                                    type: 'line',
                                    series: planviews,
                                    selectionMode: 'single',
                                    timeAxisType: 'mixedFrequency',
                                    legend: {rendered: 'off'},
                                    dataCursor: 'on', dataCursorBehavior: 'snap', dataCursorPosition: dataCursorPositionValue,
                                    yAxis: {majorTick: {rendered: 'off'}, tickLabel: {converter: GetPlanViewName,style:'color: probabilityColor($data)'}},
                                    xAxis:{ majorTick:{baselineStyle:'dashed', lineColor:'grey', lineStyle:'dashed', rendered:'on'}},
                                    styleDefaults: {lineType: 'none', dataItemGaps: '0%', markerShape: 'circle'},
                                    valueFormats: [{type: 'series', tooltipLabel: 'Event'}, {type: 'value', tooltipDisplay: 'off'}]
                                }"
                                    style="width:100%;">
                                </div>
                            </div>
                            <div class="oj-flex-item">
                                <table id="accountbalance-table" summary="Task List" aria-label="Tasks Table"
                                    data-bind="ojComponent: {
                                        component: 'ojTable', 
                                        data: accountbalance, 
                                        rowTemplate: 'bal_row_template', 
                                        columns: balanceColumn,
                                        rootAttributes: {style:'width:100%'},
                                        verticalGridVisible:'enabled'
                                    }">
                                </table>
                            </div>
                            <div class="oj-flex-item">
                                <table id="budget-table" summary="Task List" aria-label="Tasks Table"
                                    data-bind="ojComponent: {
                                        component: 'ojTable', 
                                        data: budgets, 
                                        rowTemplate: 'bal_row_template', 
                                        columns: budgetColumn,
                                        rootAttributes: {style:'width:100%'},
                                        verticalGridVisible:'enabled'
                                    }">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="desires_list_template">
    <!-- ko foreach: impactdesires -->
    <div data-bind="attr: {'id':id }, ojComponent: {component: 'ojCollapsible', expand: optionChangeHandler}">
        <span class="oj-header-border desires-list" data-bind="text: title, style: {color:probabilityColor(probability)}"></span>
        <div class="oj-panel">
            <div class="oj-flex-column desirelist-description">
                <div class="oj-flex-item">
                    <label>Description:</label><span data-bind="text:description"></span>
                </div>
                <div class="oj-flex-item">
                    <label>Magnitude:</label><span data-bind="text:target_value"></span> 
                </div>
                 <div class="oj-flex-item">
                    <label>Priority:</label><span data-bind="text:desire_priority"></span>
                </div>
                <div class="oj-flex-item">
                    <label>Expense Type:</label><span data-bind="text:expenseType"></span>
                </div>
                <div class="oj-flex-item">
                    <label>Expense Date & Values:</label><span data-bind="text:expense_Date"></span><span data-bind="text:expense_value"></span>
                </div>
                <div class="oj-flex-item">
                    <label>Status:</label><span data-bind="text:active_status"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="wish_list_template">
    <!-- ko foreach: wishlist -->
    <div class="desires-list" data-bind="attr: {'id':id }, ojComponent: {component: 'ojCollapsible'}">
        <span class="oj-header-border" data-bind="text: title"></span>
        <div class="oj-panel">
            <div class="oj-flex-column">
                <div class="oj-flex-item">
                    <label>Description:</label></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="bal_row_template">
    <tr>
        <td style="width:30%" data-bind="style:{'background-color':$data.color}">
            <div data-bind="ojComponent: {component: 'ojRowExpander', context: $rowContext}"></div>
            <span data-bind="text: type"></span>
        </td>
        <td colspan='4' style="width:70%" data-bind="style:{'background-color':$data.color}">
            <table id='account-data' style="width:100%">
                <tr>
                    <!-- ko foreach: $data.balance -->
                        <td style="width:25%">
                            <span data-bind="text: currencyformater($data)"></span>
                        </td>
                    <!-- /ko -->
                </tr>
            </table>
        </td>
    </tr>
</script>


      