
<div id="menu-container">
 <div class="oj-web-applayout-header header">
    <div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center"> 

      <div class="oj-flex-bar-start">
        <div class="logo">
          <img src="images/logo.png"/>
        </div>            
      </div>

      <div data-bind="css: $root.smScreen() ? 'oj-flex-bar-center-absolute' : 'oj-flex-bar-middle oj-sm-align-items-baseline'">
        <div class="oj-flex-bar-middle">
          <div class="oj-flex-bar-start">
            <div>
              <span class="appcolor" title="Application Name" data-bind="text: appName"></span>
            </div>
          </div>
          <!-- ko foreach: menulist, as: 'menus' -->
            <!-- To handle menu item selection, use a select listener as shown, not a click listener. -->
            <div class="oj-sm-12 oj-md-4 oj-lg-2 oj-xl-2 oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center menu-launch">
              <!-- ko if: $data.icon -->
                <i data-bind="css: $data.icon" aria-hidden="true" style='color:#FFFFFF'></i>&nbsp;&nbsp;
              <!-- /ko -->
              <a href="#" data-bind="attr: {'id': 'menuLauncher' + id}, click: menulaunch, text: name" class="menu-launcher"></a>
              <ul style="display:none"
                    data-bind="attr: {'id': 'menu' + id, 'aria-labelledby': 'myLauncher' + id}, ojComponent: {
                    component: 'ojMenu', select: menuItemSelect, 
                    open: menuOpen, close: menuClose, 
                    openOptions: { launcher: '#menuLauncher'+id },
                    rootAttributes : {style : 'background-color:#ffffff'}
                    }">
                <!-- ko template: {name: 'menuItemTemplate', foreach: $data.menus, as: 'submenu'} -->
                <!-- /ko -->
              </ul>
            </div>
          <!-- /ko -->
          <script type="text/html" id="menuItemTemplate">
            <li>
              <a href="#" data-bind="text: name"></a>
              <!-- ko if: submenu.menus -->
                <ul data-bind="template: {name: 'menuItemTemplate', foreach: submenu.menus, as: 'submenu'}">
                </ul>
              <!-- /ko -->
            </li>
          </script>
        </div>
      </div>

      <div class="oj-flex-bar-end">
        <i class="fa fa-sign-out" style='color:#FFFFFF' aria-hidden="true"></i>&nbsp;
        <a href="#" data-bind="text:'Logout'" class="menu-launcher"></a>
      </div>
    </div>
  </div>
</div>

