<div class="oj-flex">
  <div class="oj-flex-item oj-padding oj-sm-12 oj-md-4 oj-lg-3 oj-xl-3">
     <span class="header-user-label">Hello again, Customer</span>
  </div>
  <div class="oj-flex-item oj-padding oj-sm-12 oj-md-6 oj-lg-6 oj-xl-6">
    <div class="oj-flex">
      <div class="oj-flex-item">
        <input class="header-chat-box" type="text" data-bind="ojComponent: {component: 'ojInputText'}" placeholder="What can I help you with today?"/> 
      </div>
      <div class="oj-flex-item">
        <button style="margin-left: auto;" id="chatbutton" data-bind="ojComponent: {
            component: 'ojButton', 
            display: 'icons', 
            icons: {start:'fa fa-comments-o fa-2x'}
          },
          click: function()
          {
            $('#popup1').ojPopup('open', '#chatbutton');
          }">
        </button>
      </div>
    </div>
  </div>
  <div class="oj-flex-item oj-padding oj-sm-12 oj-md-2 oj-lg-3 oj-xl-3 oj-sm-justify-content-center oj-lg-justify-content-left">   
    <input class="header-appointment-box" style="margin-left: auto;" data-bind="ojComponent: {
        component: 'ojInputDate',
        placeholder:'Make an appointment with Avatar',
        rootAttributes: {style: 'background-color:none;min-width:90%;border-radius:25%'}
      }"/>
  </div>
</div>

<div id="popup1" data-bind="ojComponent:{component: 'ojPopup'}" style="width:200px;height:80px">
  <span>Hello Customer.</span><br>
  <span>What can I help you with today?</span>
</div>