<div id="dashboard-container">
<!--	<div style="display:none" id="modelessDialog1" title="Modeless Dialog"
	       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', modality: 'modeless'}">
	    <div class="oj-dialog-body">
	      This is an example of a modeless dialog. Interaction with other window areas and components is possible when a modeless dialog is displayed.
	    </div>
	    <div class="oj-dialog-footer">
	        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'OK'}"> </button>
	    </div>
	</div>
  	<button id="buttonOpener" data-bind="ojComponent: {component: 'ojButton', label: 'Open Modeless Dialog', optionChange: handleOpen}"> </button>-->
  	<div class="oj-flex oj-sm-flex-items-initial">
      <div class="oj-flex-item oj-padding" data-bind="click: function(){$root.router.go('budgettracking')}">
      	<strong style="font-weight:200;font-size: 20px">Your Plan</strong>
      </div>
      <div class="oj-flex oj-panel demo-panel-customizations oj-padding" data-bind="click: function(){$root.router.go('financialplan')}" style="font-size:20px;color:#5CB69F">
      	<i class="fa fa-long-arrow-up" aria-hidden="true"><strong>Score : +B &nbsp;</strong></i>
	</div>
      <div class="oj-flex-item oj-padding">
      		<span>Credit Score</span><i class="fa fa-long-arrow-up" aria-hidden="true"></i><br>
      		<span class="oj-text-xs oj-text-secondary-color" data-bind="text: '(09/21/2016)'"></span>
		</div>
		<div class="creditscore">
			690
		</div>
    </div>

	<div class="oj-flex oj-flex-items-pad oj-padding oj-margin alignscreen">
		
			<h5>Planned Liquid to Desired Liquid Value</h5>
			<div class="oj-flex-bar-end">
				<select id="select" data-bind="ojComponent: {component: 'ojSelect', options: timeviews,
	                   value: selecttimeview,placeholder:'Select Time View',
	                   optionChange: launchTimeView}">
	  			</select>
  			</div>
		<div id='chart-container' class="oj-sm-12 oj-md-12 oj-lg-12 oj-xl-12 oj-flex-item">
			<div id="lineChart" data-bind="ojComponent: {
				component: 'ojChart',
				type: 'line',
				series: seriesValues,
				groups: groupValues,
				animationOnDisplay: 'auto',
				animationOnDataChange: 'auto',
				orientation: 'vertical',
				hoverBehavior: 'dim',
				legend: {position: 'top'},
				hideAndShowBehavior:'withRescale',
				xAxis: {tickLabel: {converter: ko.toJS(xAxisConverter)}},
				yAxis: {tickLabel: {converter: ko.toJS(yAxisConverter)}}
				}" style="width:100%;height:250px;float:left;">
			</div>
		</div>
	</div>

	<div class="oj-flex oj-flex-items-pad oj-padding oj-margin alignscreen">

		<div class="oj-sm-12 oj-md-7 oj-lg-6 oj-xl-6 oj-flex-item">
			<!-- Display Pending Decisions Content -->
			<h4 class="oj-header-border">Pending Decisions & Actions</h4>
			<ul id="decisionslistview" aria-label="list using collection"
			data-bind="ojComponent: {component: 'ojListView', data: pendingdecisions, item: {template: 'pendingdecision_template'}, selectionMode: 'single', scrollPolicy: 'loadMoreOnScroll', scrollPolicyOptions: {fetchSize: 2}, rootAttributes: {style: 'width:100%;height:240px;overflow-x:hidden;border-style:none'}}">
			</ul>
			<script type="text/html" id="pendingdecision_template">
				<li>
					<div class="oj-flex oj-flex-items-pad" style="flex-wrap: nowrap" data-bind="click: function(){$root.router.go('decision')}, event:{keypress:onEnterLoadDecision}">
						<div class="oj-flex-item">
							<i class="fa fa-university" aria-hidden="true"></i>
						</div>
						<div class="oj-flex-item">
							<div class="oj-flex oj-flex-items-pad">
								<div class="oj-flex-item">
									<strong data-bind="text: title"></strong>
								</div>
								<div class="oj-flex-item">
									<span style="word-wrap: break-word" data-bind="text: description"></span>
								</div>
								<div class="oj-flex-item oj-padding">
									<span>
								<!-- ko if: link.source -->
									<a data-bind="attr: { href: link.source }, text: link.text"></a>
								<!-- /ko -->
								<!-- ko ifnot: link.source -->
									<span style="word-wrap: break-word" data-bind="text: link.text"></span>
							    <!-- /ko -->
							    	</span>
							    	<i data-bind="css:link.icon" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</li>
			</script>

			<!-- Display Activities Content -->
			<h4 class="oj-header-border">Activities</h4>
			<ul id="activitiesistview" aria-label="list using collection" style="height:100%"
			data-bind="ojComponent: {component: 'ojListView', data: activities, item: {template: 'activities_template'}, selectionMode: 'single', scrollPolicy: 'loadMoreOnScroll', scrollPolicyOptions: {fetchSize: 2}, rootAttributes: {style: 'width:100%;height:300px;overflow-x:hidden;border-style:none'}}">
			</ul>

			<script type="text/html" id="activities_template">
				<li>
					<div class="oj-flex oj-flex-items-pad" style="flex-wrap: nowrap">
						<div class="oj-flex-item">
							<i data-bind="css:icon" aria-hidden="true"></i>
						</div>
						<div class="oj-flex-item">
							<div class="oj-flex oj-flex-items-pad">
								<div class="oj-flex-item">
									<strong data-bind="text: theme"></strong>
								</div>
								<div class="oj-flex-item">
									<span style="word-wrap: break-word" data-bind="text: content"></span>
								</div>
							</div>
						</div>
					</div>
				</li>
			</script>
		</div>

		<div class="oj-sm-12 oj-md-3 oj-lg-3 oj-xl-3 oj-flex-item" style="border-right: 1px solid #D8D8D8">
			<h5 class="oj-header-border">Calendar</h5>
			<ul id="calendarlistview" aria-label="list using collection"
			data-bind="ojComponent: {component: 'ojListView', data: calendarlist, item: {template: 'calendarlist_template'}, selectionMode: 'single', scrollPolicy: 'loadMoreOnScroll', scrollPolicyOptions: {fetchSize: 5}, rootAttributes: {style: 'height:320px;overflow-x:hidden;border-style:none'}}">
			</ul>
			<script type="text/html" id="calendarlist_template">
				<li>
					<div class="oj-flex-column oj-flex-items-pad" style="flex-wrap: nowrap">
						<div class="oj-flex-item" data-bind="style: { color: color }">
							<span data-bind="text: type"></span> : <span data-bind="text: description"></span>
						</div>
						<div class="oj-flex-item" data-bind="if: alternative">
							<span style="word-wrap: break-word" data-bind="text: alternative"></span>
						</div>
						<div class="oj-flex-item">
							<span style="word-wrap: break-word" data-bind="text: formatToLongDateTime(datetime)"></span>
						</div>
						<div class="oj-flex-item">
							<span style="word-wrap: break-word" data-bind="text: details"></span>
						</div>
					</div>
				</li>
			</script>
		</div>

		<div class="oj-sm-12 oj-md-2 oj-lg-3 oj-xl-3 oj-flex-item">
			<h5 class="oj-header-border">My Money</h5>
			<ul id="mymoneylistview" aria-label="list using collection"
			data-bind="ojComponent: {component: 'ojListView', data: moneylist, item: {template: 'moneylist_template'}, selectionMode: 'single', scrollPolicy: 'loadMoreOnScroll', scrollPolicyOptions: {fetchSize: 2}, rootAttributes: {style: 'height:120px;overflow-x:hidden;border-style:none'}}">
			</ul>
			<script type="text/html" id="moneylist_template">
				<li>
					<div class="oj-flex-column oj-flex-items-pad" style="flex-wrap: nowrap">
						<div class="oj-flex-item">
							<span data-bind="text: accounttype"></span> : <span data-bind="text: bank"></span> - <span data-bind="text: accountnumber"></span>
						</div>
						<div class="oj-flex-item">
							<span style="word-wrap: break-word" data-bind="text: formatAmount(amount)"></span>
						</div>
					</div>
				</li>
			</script>

			<h5 class="oj-header-border oj-padding">Portfolio</h5>
			<ul id="portfolioview" aria-label="list using collection"
			data-bind="ojComponent: {component: 'ojListView', data: portfolio, item: {template: 'portfolio_template'}, selectionMode: 'single', scrollPolicy: 'loadMoreOnScroll', scrollPolicyOptions: {fetchSize: 4}, rootAttributes: {style: 'height:170px;overflow-x:hidden;border-style:none'}}">
			</ul>
			<script type="text/html" id="portfolio_template">
				<li>
					<div class="oj-flex-column oj-flex-items-pad" style="flex-wrap: nowrap">
						<div class="oj-flex-item">
							<span data-bind="text: company"></span> (<span data-bind="text: stockid"></span>)
						</div>
						<div class="oj-flex-item">
							<span style="word-wrap: break-word" data-bind="text: formatAmount(amount)"></span>&nbsp;&nbsp;
							<!-- ko if : status == 'gain' -->
								<span data-bind="text: '+' + percentage"></span>
							<!-- /ko -->
							<!-- ko if : status == 'loss' -->
								<span data-bind="text: '-' + percentage"></span>
							<!-- /ko -->
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
					</div>
				</li>
			</script>

			<h5 class="oj-header-border oj-padding">Wish List</h5>
			<ul id="myactivitylistview" aria-label="list using collection"
			data-bind="ojComponent: {component: 'ojListView', data: wishlist, item: {template: 'wishlist_template'}, selectionMode: 'single', scrollPolicy: 'loadMoreOnScroll', scrollPolicyOptions: {fetchSize: 4}, rootAttributes: {style: 'height:160px;overflow-x:hidden;border-style:none'}}">
			</ul>
			<script type="text/html" id="wishlist_template">
				<li>
					<span data-bind="text: wish"></span>
				</li>
			</script>
		</div>
	</div>
</div>
