@import url("base.css");

.decision-label {
	font-family:'Source Sans Pro Semibold';
	font-size: 24pt;
  	color:#333333;
}

#decision-btn-advice > span, 
  #decision-btn-conversations > span {
  width:110px;
  height:40px;
  background : transparent;
  color:#5FB5A0;
  border-color: #5FB6A1;
  border-radius: 25px;  
}

.decision-btn-advice-label, 
  .decision-btn-conversations-label{
  font-family: 'Source Sans Pro';
  font-size:10pt;
}

#decision-btn-advice-selected > span, 
  #decision-btn-conversations-selected > span{
  width:110px;
  height:40px;
  color: #FFFFFF;
  background-color: #5FB5A0;
  border-color: #5FB5A0;
  border-radius: 25px;
  background-image: none;
}

.decision-title {
	font-family:'Source Sans Pro';
	font-size: 16pt;
	color: #4A5C66;
}

.decision-content {
	font-family:'Source Sans Pro Semibold';
	font-size: 14pt;
	color: #999999;
}

.alternative-label {
	font-family:'Source Sans Pro';
	font-size: 14pt;
	color: #4A5C66;
}

.decision-panel{
  background-color:#FAFAFA;
  color:#4A5C66;
}

.decision-nav-item {
	font-family:'Source Sans Pro';
	font-size:16pt;
}

.desireimpact-label {
	font-family:'Source Sans Pro';
	font-size:24pt;
	color:#333333;
}

.decisionselect-alternative {
	font-family:'Source Sans Pro ExtraLight';
	font-size:36pt;
	color: #999999;
}

.decision-cashflow {
	font-family: 'Source Sans Pro';
	font-size: 13pt;
	color:#2FAEA1;
}

.decision-cashflow-label,
	.decision-portfolioimpact-label {
	font-family: 'Source Sans Pro';
	font-size: 12pt;
	color:#333333;
}

.decision-cashflow-value {
	font-family: 'Source Sans Pro';
	font-size: 12pt;
	color:#42AEA1;
}

#decision-btn-alternative > span {
  width:170px;
  height:40px;
  background : transparent;
  color:#5FB5A0;
  border-color: #5FB6A1;
  border-radius: 25px;  
}

.decision-btn-alternative-label {
  font-family: 'Source Sans Pro';
  font-size:10pt;
}

#decision-btn-alternative-selected > span {
  width:170px;
  height:40px;
  color: #FFFFFF;
  background-color: #5FB5A0;
  border-color: #5FB5A0;
  border-radius: 25px;
  background-image: none;
}

.decision-impact-chart-label {
	font-family:'Source Sans Pro';
	font-size: 20pt;
	color:#333333;
}

.decision-desires-chart-label{
	font-family:'Source Sans Pro Semibold';
	font-size: 14pt;
}

.decision-desires-chart-description{
	font-family:'Source Sans Pro';
	font-size: 14pt;
}

.decision-impact-chart-details-label {
	font-family:'Source Sans Pro';
	font-size: 16pt;
}

.decision-impact-chart-details-description {
	font-family:'Source Sans Pro';
	font-size: 14pt;
}

.decision-tab-label {
	font-family:'Source Sans Pro';
	font-size: 14pt;
	color: black;
}

.decision-tab-details {
	font-family:'Source Sans Pro';
	font-size: 14pt;
}

#decision-tabs-activities, 
	#decision-tabs-budgets,
		#decision-tabs-portfolio, 
			#decision-tabs-info {
	border:1px solid #E4E4E4;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	width:100px; 
	text-align:center
}
#decision-tabs-activities > .oj-tabs-tab-content,
	#decision-tabs-budgets > .oj-tabs-tab-content,
		#decision-tabs-portfolio > .oj-tabs-tab-content, 
			#decision-tabs-info > .oj-tabs-tab-content	{
	border-style: none;
}

#decision-tabs-activities > div > a:hover, a:visited, a:link {
	color: black;
}

.decision-tabs-activities-content,
	.decision-tabs-budgets-content {
	font-family:'Source Sans Pro';
	font-size: 16pt;
}

.decision-tabs-activities-content-note {
	font-family:'Source Sans Pro Semibold';
	font-size: 14pt;
}

.decision-tabs-activities-content-description {
	font-family:'Source Sans Pro';
	font-size: 14pt;
}

