.timeaxis-container {
  padding: 0 !important;
}

.demo-chart-row-container {
  padding: 0;
}

.demo-chart-task {
  position: relative;
}
 
.demo-task-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.demo-task-bar {
  height: 22px;
  background-color: #267db3;
  border-radius: 2px;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  display: none
}

.demo-progress-bar {
  height: 6px;
  background-color: red;
  opacity: 0.65;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}