@import url("base.css");

.financialplanpanel{
  height:90%;
  width:80%;
}

.financial-plan-btn{
  width:105px;
  height: 40px;
  border-radius: 40%;
  font-size:11pt;
}

.financial-plan-btn-default{
  color: #54B79F;
  background-color: #FFFFFF;
}

.financial-plan-btn-select{
  color: #FFFFFF;
  background-color: #54B79F;
  border-radius: 25px;
}

.btngetadvice{
  width:110px;
  height:40px;
  background-color:#FFFFFF;
  color:#5FB5A0;
  border-style: 1px solid #5FB6A1;
  border-radius: 25px;
  font-size:9pt;
}
.btnconversations{
  width:130px;
  height:40px;
  background-color:#FFFFFF;
  color:#5FB5A0;
  border-style: 1px solid #5FB6A1;
  border-radius: 25px;
  font-size:9pt;
}

.add-desire{
	font-family:'Source Sans Pro';
	font-size: 10pt;
	color:#333333;
}

.desires-list{
	font-family:'Source Sans Pro Semibold';
	font-size: 14pt;
}

.desirelist-description{
	font-family:'Source Sans Pro Light';
	font-size:12pt;
	color:grey;
	line-height:150%;
}

button#buttonadvice:focus{
	background-color:#57B6A0;
	color:#FFFFFF;
}
button#buttonconversation:focus{
	background-color:#57B6A0;
	color:#FFFFFF;
}

.score-label{
	font-family:'Source Sans Pro Light';
	font-size: 20pt;
	color: #999999;
}

.score-value{
	font-family:'Source Sans Pro Light';
	font-size: 20pt;
	color:#54B79F;
}

.score-initiated,.score-decisionmade{
	font-family:'Source Sans Pro Semibold';
	font-size:10pt;
	color:#999999;
}

.oj-collapsible-header-icon {
  display: none;
}

.financial-plan{
  font-family:'Source Sans Pro Light';
  font-size:20pt;
  color:#999999;
}