@import url("base.css");

.financial-plan-panel{
  height:90%;
  width:80%;
}

.financial-plan-btn-label{  
  font-size:11pt;
}

#financial-plan-btn_desirebtn > span, 
  #financial-plan-btn_actionsbtn > span, 
    #financial-plan-btn_wishesbtn > span {
  color: #54B79F;
  background : transparent;
  border-color: #54B79F;
  border-radius:25px;
  width:105px;
  height: 40px;
}

#financial-plan-btn_desirebtn-selected > span, 
  #financial-plan-btn_actionsbtn-selected> span, 
    #financial-plan-btn_wishesbtn-selected > span {
  color: #FFFFFF;
  background-color: #54B79F;
  border-radius: 25px;
  border-color: #54B79F;
  width:105px;
  height: 40px;
}

#financial-plan-btn-advice > span, 
  #financial-plan-btn-conversations > span {
  width:110px;
  height:40px;
  background : transparent;
  color:#5FB5A0;
  border-color: #5FB6A1;
  border-radius: 25px;  
}

.financial-plan-btn-advice-label, 
  .financial-plan-btn-conversations-label{
  font-family: 'Source Sans Pro';
  font-size:9pt;
}

#financial-plan-btn-advice-selected > span, 
  #financial-plan-btn-conversations-selected > span{
  width:110px;
  height:40px;
  color: #FFFFFF;
  background-color: #5FB5A0;
  border-color: #5FB5A0;
  border-radius: 25px;
  background-image: none;
}

.add-desire{
	font-family:'Source Sans Pro';
	font-size: 10pt;
	color:#333333;
}

.desires-list{
	font-family:'Source Sans Pro Semibold';
	font-size: 14pt;
}

.desirelist-description{
	font-family:'Source Sans Pro Light';
	font-size:12pt;
	color:grey;
	line-height:150%;
}

.score-label{
	font-family:'Source Sans Pro Light';
	font-size: 20pt;
	color: #999999;
}

.score-value{
	font-family:'Source Sans Pro Light';
	font-size: 20pt;
	color:#54B79F;
}

.score-initiated,.score-decisionmade{
	font-family:'Source Sans Pro Semibold';
	font-size:10pt;
	color:#999999;
}

.oj-collapsible-header-icon {
  display: none;
}

.financial-plan-label{
  font-family:'Source Sans Pro Light';
  font-size:20pt;
  color:#999999;
}

.financial-plan-version-label{
  font-family:'Source Sans Pro Light';
  font-size:14pt;
  color:#999999;
}