@import url("base.css");

html:not([dir="rtl"]) .header-appointment-box {
    border-width: 1px 0 1px 1px;
    border-radius: 10px 0 0 10px; 
}

.header-user-label{
  font-family: 'Source Sans Pro ExtraLight';
  font-size: 28pt;
  color:#999999;
}

.header-chat-box{
  font-family: 'Source Sans Pro ExtraLightItalic';
  font-size: 16pt;
  color:#666666;
  border-color: #CCCCCC;
  height: 40px;
  border-radius: 10px;
}

.header-appointment-box{
  font-family: 'Source Sans Pro';
  font-size: 13pt;
  color:#666666;
  border-color: #CCCCCC;
  border-radius: 10px;
  height: 40px;
}