@import url("base.css");

.header-user-label{
  font-family: 'Source Sans Pro ExtraLight';
  font-size: 28pt;
  color:#999999;
}

.header-chat-box{
  font-family: 'Source Sans Pro ExtraLightItalic';
  font-size: 16pt;
  color:#666666;
  border-color: #CCCCCC;
  width: 430px;
  height: 40px;
  border-radius: 10px;
  justify-content: left;
}

.header-appointment-box{
  font-family: 'Source Sans Pro';
  font-size: 13pt;
  color:#666666;
  border-color: #CCCCCC;
  justify-content: left;
  border-radius: 5px;
}