@import url("base.css");

.logout-user-label{
  font-family: 'Source Sans Pro ExtraLight';
  font-size: 20pt;
  color:#999999;
}
.logout-user-message{
  font-family: 'Source Sans Pro ExtraLight';
  font-size: 15pt;
  color:#9C9C9C;
}