/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
.header{
	background-color: #174B51;
  height: 60px;
}

.appcolor{
	color:#FFFFFF;
  font-weight:thin;
  font-size:20px;
}

#myLauncher{
	padding:30px;
	color:#FFFFFF;
}

.logo{
	border-radius: 50%;
  padding: 10%;
	background-color:#FFFFFF;
	text-align: center;
}

div > a:visited, .menu-launcher {
  color: #FFFFFF;
}

.align{
	padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
  top:30px;
}

.demo-mypanel {
  width:  95%;
  height: 30%;
  background-color: transparent;
}

.btntext{
  border-radius: 10px;
  width:350px;
}

.creditscore{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
  
  background: #fff;
  background-color: transparent;
  border: 1px solid #666;
  text-align:center;
}
.decisionpanel{
  background-color:#FAFAFA;
  color:#4A5C66;
}
.btnstyle{
  width:100px;
  height:40px;
  border-radius: 25px;
  background-color: #FFFFFF;
  color:grey;
  border-style: 1px solid grey;
  border-width:thin;

}
.layout{
  border:1px solid;
}
.btnalternative{
  width:170px;
  height:40px;
  background-color: #5CB69F;
  border-radius: 25px;
  font-size: small;
  color:#FFFFFF;
  border-style: none;
}
.oj-navigationlist-item-label{
  color:#5DBBB1;
}
.decisionheader{
  color:#4A5C66;
}
.demo-panel-customizations{
  width:250px;
}